#logo {
    flex: 1;
    text-align: center;
    position: static;
    transform: perspective(500px)
               translateY(8px)
               rotateY('45deg');
}

#logo img {
    width: auto;
    height: 400px;
    border-radius: 20px;
}
