#logo {
    flex: 1;
    text-align: center;
    position: static;
    transform: perspective(500px)
               translateY(8px)
               rotateY('45deg');
}

#logo img {
    width: 50%;
    max-width: 200px;
    height: 200px;
    border-radius: 10px;
}
